<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/fa98a09714.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="/css/usuario.css">
    <link rel="shortcut icon" href="https://res.cloudinary.com/dkqp3wkbi/image/upload/v1656465864/kodiarLogo/logo_ytlecr.png" type="image/x-icon">

    <title> kodiar</title>
</head>
<body>
    <header class="container">
        <div class="container_hero">
            <div class="title"><img src="https://res.cloudinary.com/dkqp3wkbi/image/upload/v1656466485/kodiarLogo/logokodiar_bg3auh.png" alt="kodiar"></div>
        <div class="navegate">
            <nav class="nav_link">
                <ul class="list">
                    <div class="notificacion">
                        <i class="fa-solid fa-bell"></i>
                    </div>
                    <li>
                        <a  href="/dasboard">Inicio</a></li>
                            <li><a href="/inventario">Inventario</a></li>
                            <li><a href="/categoria">Categorias</a></li>
                            <li><a href="/producto">productos</a></li>
                            <li><a href="/cuenta" class="inventario cate_active">Cuenta</a></li>
                            <li><a href="/logout">Cerrar sesión</a></li>
                </ul>
            </nav>

        </div>
        </div>

    </header>
    <main class="caja-principal">
        <div class="caja2">
            <div class="title-perfil">
                <h3>p-perfil</h3>
            </div>
            <div class="imagen">
                <img class="imagen2" src="/image/avatar.jpg" alt="avatar">
                <p class="nombre-usuario" ><%= userPerfil.nombre %> </p>
            </div>
            <div class="data-perfil">
                <span class="hgty">Mis datos</span>
                <ul>
                    <li><span class="p-perfil">Nombre: </span> <%= userPerfil.nombre %></li>
                    <li><span class="p-perfil"> Documento: </span> <%= userPerfil.documento %></li>
                    <li><span class="p-perfil">Correo: </span> <%= userPerfil.correo %></li>
                    <li><span class="p-perfil">Telefono: </span> <%= userPerfil.telefono == null ? "Agregar un telefono": userPerfil.telefono %></li>
                     <li><span class="p-perfil">Descripcion: </span> <%= userPerfil.telefono==null ? "Agregar una descripcion" : userPerfil.descripcion %></li>

                </ul>
            </div>
            </div>
        
        <div class="caja3">
            <div class="info">  Actualizar información </div>
<div class="rrrr">
    <div class="ty">
        <div class="cajas">
         <p class="nombre-cajas">Nombre</p>
        <input type="text" name="nombre" id="nombre" >
    </div>
    <div class="cajas">
        <p class="nombre-cajas">Documento</p>
       <input type="number" name="documento" id="documento" >
    </div>
    <div class="cajas">
    <p class="nombre-cajas">Telefono</p>
    <input type="number" name="telefono" id="telefono" >
    </div>
    <div class="cajas">
    <p class="nombre-cajas">Direccion</p>
    <input type="text" name="direccion" id="direccion" >
    </div>
    
    <div class="cajas">
    <p class="nombre-cajas">Foto</p>
    <input type="File" name="direccion" id="direccion" >
    </div>
    </div>
    
    <div class="descripcion">
        <p class="nombre-des">Descripcion</p>
     <textarea name="" id="" cols="30" rows="10"></textarea>
    
    </div>
</div>
        </div>
    </div>
    </main>


</body>

</html>