<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    
    <link rel="stylesheet" href="/css/inventario.css">
    <script src="https://kit.fontawesome.com/fa98a09714.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/datatable/datatables.min.css" />
    <link rel="shortcut icon" href="https://res.cloudinary.com/dkqp3wkbi/image/upload/v1656465864/kodiarLogo/logo_ytlecr.png" type="image/x-icon">


    <title>Kodiar</title>
</head>

<body>
    <header class="container">
        <div class="container_hero">
        <div class="ff">
            <img src="https://res.cloudinary.com/dkqp3wkbi/image/upload/v1656466485/kodiarLogo/logokodiar_bg3auh.png"
             alt="kodiar">
            </div>

        <div class="navegate">
            <nav class="nav_link">
                <ul class="list">
                    <!-- <div class="notificacion">
                        <i class="fa-solid fa-bell"></i>
                    </div> -->
                    <li>
                    <a class="iventario cate_active" href="/dasboard">Inicio</a></li>
                        <li><a href="/inventario">Inventario</a></li>
                        <li><a href="/categoria">Categorias</a></li>
                        <li><a href="/producto">productos</a></li>
                        <li><a href="/cuenta">Cuenta</a></li>
                        <li><a href="/logout">Cerrar sesión</a></li>
                </ul>
            </nav>

        </div>
        </div>

    </header>
    <div class="datatable-container">
      
        <table   id="myTable" class="display">
            <thead>
                <tr>
                    <th></th>
                    <th>codigo</th>
                    <th>Producto</th>
                    <th>Unidades</th>
                    <th>precio compra</th>
                    <th>precio venta</th>
                    <th>fecha de vencimiento</th>
                    <th>Descripcion</th>
                    <th>Ajustes</th>


                </tr>
            </thead>

            <tbody>

                <% if(data.length){ %>

                    <% for (let inv = 0; inv < data.length; inv++) { %>
                        
                         <tr>
                            <td class="table-checkbox"> <input type="checkbox" name="" id="">
                            <span class="available"></span></td>
                            <td><%= data[inv].id  %></td>
                            <td><%= data[inv].namep  %></td>
                            <td><%= data[inv].unidades %> </td>
                            <td><%= data[inv].precioc  %></td>
                            <td><%= data[inv].preciov  %></td>
                            <td><%= data[inv].fechaven  %></td>
                            <td><%= data[inv].descripcion %> </td>
                            
                            <td>
                               <div class="option">
                                <a href="/editProduct/<%= data[inv].id  %> " class="options"><i class="op1 fa-solid fa-pen-to-square"></i></a>
                                <a href="/delete/<%= data[inv].id  %>" class="options"><i class="op2 fa-solid fa-trash"></i></a>

                               </div>
                            </td>
                            
                        </tr>
                        

                  <%  } %>
                     


               <% }else{ %>
                <tr>
                    <td></td>
                    <td>No tienes productos agregados</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>

                </tr>

                <% } %>
      
            </tbody>
        </table>
        
    </div>
<script src="/jquery/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
<script type="text/javascript" src="/datatable/datatables.min.js"></script>
</body>

</html>